</main>

<footer class="site-footer">
    <div class="nma-container">
        <div class="nma-row one-third">
            <div class="nma-column">
                <div class="nma-widget">
                    <img loading="lazy" width="500" height="160" src="{{ relBase }}img/nma-logo-color.png" alt="New Media Arts Logo" />
                    <h2>About KCC NMA</h2>
                    <p>The New Media Arts (NMA) program is a two year AS degree program at Kapi‘olani Community College (KapCC) in Honolulu, Hawaii. Our mission is to prepare students for employment in the fields of interface design and animation.</p>
                    <a href="#" class="nma-button">Apply Now</a>
                </div>
            </div>
            <div class="nma-column">
                <div class="nma-widget">
                    <h2>Location</h2>
                    <address>Kapiolani Community College<br />
                        4303 Diamond Head Road<br />
                        Honolulu, HI 96813</address>
                </div>
                <div class="nma-widget">
                    <h2>Contact Info</h2>
                    <h3>Steve Harris</h3>
                    <h4>NMA Counselor</h4>
                    <p>
                        Telephone: (808) 734-9510<br />
                        Email: snharris [at] hawaii.edu
                    </p>
                    <a href="#" class="nma-button">Contact Steve</a>
                </div>
            </div>
            <div class="nma-column">
                <div class="nma-widget">
                    <h2>Related Links</h2>
                    <nav class="site-navigation">
                        <ul>
                            <li><a href="https://www.hawaii.edu/">University of Hawaii</a></li>
                            <li><a href="https://www.kapiolani.hawaii.edu/">Kapi‘olani Community College</a></li>
                        </ul>
                    </nav>
                    <h2>NMA Program Pages</h2>
                    {% include _site-navigation.html %}
                </div>
            </div>    
        </div>    
    </div>
</footer>


<!-- MAIN JS FILE -->
<script src="{{ relBase }}js/script.js"></script>

</body>

</html>