---
title: Home
---

{% include _head.html %}

<div class="nma-hero">

  <h1>KAPI‘OLANI COMMUNITY COLLEGE</h1>

  <h2>New Media Arts</h2>

  <p>The New Media Arts (NMA) program is a two year AS degree program at Kapi‘olani Community College in Honolulu,
    Hawaii. Our mission is to prepare students for employment in the fields of interface design and animation.</p>

  <a href="" class="nma-button">Learn More About NMA</a>
  <a href="" class="nma-button">View Student Projects</a>
  <a href="" class="nma-button">NMA Degree Info</a>

</div>

{% include _foot.html %}